body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin:0;
  padding:0;
}

a{
  text-decoration:none;
}

.app {
  display: block;
  min-height: 100vh;
}

.left {
  background-color: transparent;
  width: 100%;
  position: relative;
}

.right {
  min-height: 100vh;
  width:45%;
}

.right p {
  margin: 0;
}

.right .page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm #7b7d7d;
  height: 29.7cm;
  font-family:Montserrat;
}

.templateImage{
  border: 3px solid #000;
  border-radius: 8px;
  width: 250px;
  height:350px;
  background-color: white;
  position: relative;
}

@media print {
  @page {
    margin: 0;
    width: 100%;
  }
  body * {
    visibility: hidden;
    width: 100%;
  }  
  html, body {
    height:100%; 
    overflow: hidden;
    word-wrap: normal;
  }
  .page * {
    width: 100%;
    word-wrap: normal;
    visibility: visible;
    font-size:25px;
    white-space: pre-wrap;
  }
  .page {
    position: absolute;
    left: 0;
    top: 0;
  }
  .flex{
    height: 0;
  }

}

@media print and (max-device-width:768px){
.page *{
  white-space: inherit;
  font-size: 17px;
}
.flex{
  height: 0px;
  padding-top: 0 !important;
}
}

@media (max-device-width:768px){
  .right{
    width: 100%;
  }
  .right .page {
    font-size:x-small;
    /* margin: 20px; */
  }
}
